# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\Java程序设计案例教程代码\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
